.detail {
  width: 200px;
  padding: 10px;
  margin: 10px;
  background: #e6e4db;
  display: inline-block;
  vertical-align: top;
}

.detail-unit {
  min-height: 350px;
}

.detail-faction {
  min-height: 150px;
}

.detail-province h3 {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: solid 1px #acc1c4;
  text-align: center;
}

.detail img {
  width: 200px;
  max-height: 140px;
  overflow: hidden;
}

.detail h3 {
  margin-top: 5px;
}

.detail .detail-image {
  height: 140px;
  text-align: center;
}