<!doctype html>

<html lang="en">
  <head>
    <title>The Second Darkness</title>
    
    <script src="../java/jquery.js" type="text/javascript"></script>
    <script src="../java/middle-earth.js" type="text/javascript"></script>
    
    <link href="../css/main.css" type="text/css" rel="stylesheet">
  </head>
  
  <body>
    <div class="navigation">
      <ul class="row">
        <li><a href="faction_detail.html">Factions</a></li>
        <li><a href="unit_detail.html">Units</a></li>
        <li><a href="territory_detail.html">Territories</a></li>
        <li><a href="city_detail.html">Cities</a></li>
      </ul>
    </div>
    
    <div class="page row">
      <div class="main-content">
        
      </div>
    </div>
  </body>
</html>
