<!doctype html>

<html lang="en">
  <head>
    <title>The Second Darkness</title>
    
    <script src="../java/jquery.js" type="text/javascript"></script>
    <script src="../java/middle-earth.js" type="text/javascript"></script>
    <script src="../java/functions.js" type="text/javascript"></script>
    
    <link href="../css/main.css" type="text/css" rel="stylesheet">
    <link href="../css/detail.css" type="text/css" rel="stylesheet">
  </head>
  
  <body>
    <div class="navigation">
      <ul class="row">
        <li><a href="faction_detail.html">Factions</a></li>
        <li><a href="unit_detail.html">Units</a></li>
        <li><a href="territory_detail.html" class="active">Territories</a></li>
        <li><a href="city_detail.html">Cities</a></li>
      </ul>
    </div>
    
    <div class="page row">
      <div class="main-content">
        
      </div>
    </div>
    
    <script>
      var provinceTemplate = '<div class="detail-province"><h3>{{ name }}</h3><div class="{{ class-name }}-territories"></div></div>';
      var territoryTemplate = '<div class="detail detail-territory"><h3>{{ name }}</h3></div>';
      for (var index = 0; index < provinceList.length; index ++) {
        var province = provinceList[index];
        var html = provinceTemplate.replace("{{ name }}", province.name)
                                   .replace("{{ class-name }}", classify(province.name));
        $(".main-content").append(html);
        if (province.territories) {
          for (var index = 0; index < territoryList.length; index ++) {
            var territory = territoryList[index];
            if (territory.province === province) {
              var html = territoryTemplate.replace("{{ name }}", territory.name);
              $(classify(province.name) + "-territories").append(html);
            }
          };
        };
      };
    </script>
  </body>
</html>
