<!doctype html>

<html lang="en">
  <head>
    <title>The Second Darkness</title>
    
    <script src="../java/jquery.js" type="text/javascript"></script>
    <script src="../java/middle-earth.js" type="text/javascript"></script>
    
    <link href="../css/main.css" type="text/css" rel="stylesheet">
    <link href="../css/detail.css" type="text/css" rel="stylesheet">
  </head>
  
  <body>
    <div class="navigation">
      <ul class="row">
        <li><a href="faction_detail.html">Factions</a></li>
        <li><a href="unit_detail.html" class="active">Units</a></li>
        <li><a href="territory_detail.html">Territories</a></li>
        <li><a href="city_detail.html">Cities</a></li>
      </ul>
    </div>
    
    <div class="page row">
      <div class="main-content">
        
      </div>
    </div>
    
    <script>
      var template_noimage = '<div class="detail detail-unit"><h3>{{ name }}</h3><p>{{ name }} are a {{ faction.adjective }} unit.</p><p>Cost: {{ cost }}<br>Unit strength: {{ strength }}<br>Unit type: {{ type }} unit</p></div>';
      var template = '<div class="detail detail-unit"><div class="detail-image"><img src="{{ image }}"></div><h3>{{ name }}</h3><p>{{ name }} are a {{ faction.adjective }} unit.</p><p>Cost: {{ cost }}<br>Unit strength: {{ strength }}<br>Unit type: {{ type }} unit</p></div>';
      for (var index = 0; index < unitList.length; index ++) {
        var unit = unitList[index];
        if (unit.image) {
          var html = template.replace("{{ image }}", unit.image)
        } else {
          var html = template_noimage;
        };
        var html = html.replace("{{ name }}", unit.name)
                       .replace("{{ name }}", unit.name)
                       .replace("{{ cost }}", unit.cost)
                       .replace("{{ strength }}", unit.strength)
                       .replace("{{ type }}", unit.type)
                       .replace("{{ faction.adjective }}", unit.faction.adjective);
        $(".main-content").append(html);
      };
    </script>
  </body>
</html>
